[include]
  path = ~/.gitconfig.local
[core]
  editor = nvim
  ignorecase = false
[user]
  name = Vladimir Eremin
  email = personal@ermnvldmr.com 
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
